* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pregunta {

    border: solid;
    width: 850px;
    height: 450px;
}

false {

    background-color: aqua;
}